<p class="feature-title mb-16">Substituir texto</p>
<app-text-area [label]="'Insira o conteúdo'" [options]="['clear','copy']"
    (textAreaListener)="setInputText($event)"></app-text-area>
<div class="replace-menu">
    <p class="replace">Substituir essa palavra:</p>
    <app-input class="input-area" (inputListener)="setSearchText($event)"></app-input>
    <p class="with">Por:</p>
    <app-input class="input-area" (inputListener)="setReplaceText($event)"></app-input>
</div>
<app-text-area [label]="'Resultado'" [options]="['copy']" [isReadOnly]="true" [text]="result"></app-text-area>
<div class="button-footer">
    <app-primary-button (click)="copy()" [label]="'Copiar para área de transferência'"></app-primary-button>
</div>