/* You can add global styles to this file, and also import other style files */
body,
h1,
div,
p {
    margin: 0;
}

body {
    background-color: #1C1C1C;
    font-family: 'Poppins';
}

.mt-32 {
    margin-top: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-48 {
    margin-bottom: 48px;
}

.feature-title {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 32px;
}

.button-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}